<div class="container text-center pt-5 pb-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 " *ngFor="let product of products">
            <div class="card my-3 pt-2">
                <img src={{product.Pimages}} class="card-img-top" alt="product-image">
                <div class="card-body">
                    <h2 class="card-title">{{product.Pbrand}}</h2>
                    <p class="card-text">{{product.Pmodel | slice:0:70 }}...</p>
                    <div class="buttons my-2">
                        <span class="mx-2" style="font-size: large; font-weight: 600;">₹ {{product.Pprice}}</span>
                        <a href="#" class="btn mx-2">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>