<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="bg-light text-center">
          <h2>Filters</h2>
          <hr />
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button mat-icon-button disabled></button>
              {{ node.name }}
            </mat-tree-node>

            <mat-tree-node
              *matTreeNodeDef="let node; when: hasChild"
              matTreeNodePadding
            >
              <button
                mat-icon-button
                matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name"
              >
                <mat-icon class="mat-icon-rtl-mirror">
                  {{
                    treeControl.isExpanded(node)
                      ? "expand_more"
                      : "chevron_right"
                  }}
                </mat-icon>
              </button>
              {{ node.name }}
            </mat-tree-node>
          </mat-tree>
        </div>
      </div>
      <div class="col-md-10">
        <div class="container">
          <section class="vh-50 mt-3">
            <div class="row justify-content-center align-items-center h-50">
              <div class="col-12 col-md-12 col-xl-11">
                <div *ngFor="let artist of artists" class="mb-3">
                  <div class="card shadow mb-2 bg-white" style="border-radius: 15px" (click)="navigateToProfile(artist)">
                    <div
                      class="card-body p-1 d-md-flex text-center text-md-left"
                    >
                      <div class="ms-md-5 my-2 d-flex flex-column text-center pe-5 px-5">
                        <img
                          src="{{ artist.Aprofilephotos }}"
                          alt="Generic placeholder image"
                          class="img-fluid my-4 mb-1 rounded-circle mx-auto"
                          style="width: 150px; z-index: 1"
                        />
                        <button mat-button class="text-center">
                          <span>{{ artist.Alikes }} </span>
                          <i class="fa-regular fa-thumbs-up"></i>
                        </button>
                      </div>
                      <div class="mx-md-5 mt-4 text-start px-5 text-center text-md-start">
                        <h2 class="mb-3">{{ artist.Aname }}</h2>
                        <p>{{ artist.Acategory }}</p>
                        <p>{{ artist.Aaddress }}</p>
                        <p>Experience: {{ artist.Aworkexperience }}</p>
                      </div>
                      <div class="ms-auto ms-md-5 mt-4">
                        <button mat-button class="">
                          <i class="fa-regular fa-heart"></i>
                        </button>
                        <div>
                          <a
                            class="btn btn-sm rounded-circle bg-primary text-white me-1"
                            href="{{ artist.Afblink }}"
                            target="_blank"
                            ><i class="fab fa-facebook-f"></i
                          ></a>
                          <a
                            class="btn btn-sm rounded-circle text-white me-1"
                            style="
                              background: linear-gradient(
                                45deg,
                                #405de6,
                                #5851db,
                                #833ab4,
                                #c13584,
                                #e1306c,
                                #fd1d1d
                              );
                            "
                            href="{{ artist.Afblink }}"
                            target="_blank"
                            ><i class="fab fa-instagram"></i
                          ></a>
                          <a
                            class="btn btn-sm rounded-circle text-white bg-primary me-1"
                            href=""
                            ><i class="fab fa-linkedin-in"></i
                          ></a>
                        </div>
                        <p>
                          <a
                            href="https://wa.me/{{ artist.Owhatsappno }}"
                            target="_blank"
                            class="btn border border-secondary py-2 px-5 mt-2"
                            style="border-radius: 1rem"
                            ><img
                              src="../../../assets/icons/whatsapp.png"
                              alt=""
                              style="height: 30px"
                            />
                            Book now</a
                          >
                        </p>
                        <p>
                          <i class="fa-solid fa-globe"></i
                          ><a
                            href="{{ artist.Awebsite }}"
                            target="_blank"
                            class="text-decoration-none py-3 px-2 mt-3"
                            >{{ artist.Awebsite }}</a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
          </section>
        </div>
      </div>
      <!-- <div class="d-flex justify-content-center mt-4">
        <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </div> -->
    </div>
  </div>
</div>
<div class="container mt-5 mb-4">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>--- Looking for this also ---</h1>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-3">
      <div class="card business-card shadow p-3 mb-5 bg-white rounded">
        <div class="card-data">
          <img
            src="./assets/looking-for/studio.png"
            class="card-img-top"
            alt="Image Alt Text"
          />
          <h4 class="text-center">Recording Studio</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card business-card shadow p-3 mb-5 bg-white">
        <div class="card-data">
          <img
            src="./assets/looking-for/hall.png"
            class="card-img-top"
            alt="Image Alt Text"
          />
          <h4 class="text-center">Banquet Hall</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card business-card shadow p-3 mb-5 bg-white rounded">
        <div class="card-data">
          <img
            src="./assets/looking-for/lawns.png"
            class="card-img-top"
            alt="Image Alt Text"
          />
          <h4 class="text-center">Lawns</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card business-card shadow p-3 mb-5 bg-white rounded">
        <div class="card-data">
          <img
            src="./assets/looking-for/event.png"
            class="card-img-top"
            alt="Image Alt Text"
          />
          <h4 class="text-center">Event Management</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card business-card shadow p-3 mb-5 bg-white rounded">
        <div class="card-data">
          <img
            src="./assets/looking-for/caterers.png"
            class="card-img-top"
            alt="Image Alt Text"
          />
          <h4 class="text-center">Caterers</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card business-card shadow p-3 mb-5 bg-white rounded">
        <div class="card-data">
          <img
            src="./assets/looking-for/dress.png"
            class="card-img-top"
            alt="Image Alt Text"
          />
          <h4 class="text-center">Customized Dress</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card business-card shadow p-3 mb-5 bg-white rounded">
        <div class="card-data">
          <img
            src="./assets/looking-for/restaurants.png"
            class="card-img-top"
            alt="Image Alt Text"
          />
          <h4 class="text-center">Restaurants</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card business-card shadow p-3 mb-5 bg-white rounded">
        <div class="card-data">
          <img
            src="./assets/looking-for/resto-bar.png"
            class="card-img-top"
            alt="Image Alt Text"
          />
          <h4 class="text-center">Bar + Restaurants</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-6">
      <h1>Products</h1>
    </div>
    <!-- <div class="col-md-6 col-1">
          <b>
              <hr>
          </b>
      </div> -->
    <div class="col-md-6 col-6">
      <button
        type="submit"
        routerLink="/products"
        class="btn btn-warning py-2 px-5 float-end shadow p-3 mb-5"
      >
        View More <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
  <div class="row pt-5 pb-5">
    <div
      class="col-lg-3 col-md-4 col-sm-12"
      *ngFor="let product of products | slice : 0 : 4"
    >
      <div class="card my-3 pt-2" id="product-card">
        <img
          src="{{ product.Pimages }}"
          class="card-img-top"
          alt="product-image"
        />
        <div id="product-body">
          <h2 class="">{{ product.Pbrand }}</h2>
          <p class="">{{ product.Pmodel | slice : 0 : 70 }}...</p>
          <!-- <div class="buttons pt-5"> -->
          <span class="mx-2" style="font-size: large; font-weight: 600"
            >₹ {{ product.Pprice }}</span
          >
          <button href="#" class="btn mx-2" id="buy-btn">Buy Now</button>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
