<!-- footer block -->
<footer class="w3l-footer-29-main">
  <div class="footer-29 pt-5 pb-4">
    <div class="container pt-md-4">
      <div class="row footer-top-29">
        <div class="col-lg-4 col-md-6 footer-list-29">
          <h6 class="footer-title-29">Contact Info</h6>
          <p class="mb-2 pe-xl-5 text-white">
            Address : Chaudhari Matha, Pune Solapur Road, Near Shri Krishna
            Furniture Mall, Uruli Kanchan, 412202.
          </p>
          <p class="mb-2 text-white">
            Phone Number : <a href="tel:+919021601395">+919021601395</a>
          </p>
        </div>
        <div class="col-lg-4 col-md-6 footer-list-29 mt-md-0 mt-4">
          <h6 class="footer-title-29">Quick Links</h6>
          <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="all_products">All Product</a></li>
            <li><a routerLink="about_page">About Us</a></li>
            <li><a routerLink="contact_page">Contact Us</a></li>
            <li>
              <a routerLink="termsand_condition_page">Terms And Conditions</a>
            </li>
            <li><a routerLink="privacy_policy_page">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-list-29 mt-lg-0 mt-4 ps-lg-5">
          <div class="row">
            <div class="col-12 text-center mb-4">
              <a href="">
                <img
                  src="../../../assets/HiraLogo.png"
                  alt="HiraLogo"
                  style="height: 150px"
                  class="img-fluid mx-auto d-block"
                />
              </a>
            </div>
            <div class="col-12 text-center">
              <a
                data-mdb-ripple-init
                class="btn btn-outline btn-floating m-1"
                href="#!"
                role="button"
              >
                <i
                  class="fab fa-facebook-f text-white p-2"
                  style="
                    background: rgb(6, 86, 199);
                    padding: 5px;
                    border-radius: 50%;
                    color: white;
                  "
                ></i>
              </a>
              <a
                data-mdb-ripple-init
                class="btn btn-outline btn-floating m-1"
                href="#!"
                role="button"
              >
                <i
                  class="fab fa-instagram"
                  style="
                    background: rgb(233, 3, 160);
                    padding: 5px;
                    border-radius: 50%;
                    color: white;
                  "
                ></i>
              </a>
              <a
                data-mdb-ripple-init
                class="btn btn-outline btn-floating m-1"
                href="#!"
                role="button"
              >
                <i
                  class="fab fa-whatsapp"
                  style="
                    background: rgb(6, 199, 6);
                    padding: 5px;
                    border-radius: 50%;
                    color: white;
                  "
                ></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- copyright -->
      <p class="copy-footer-29 text-center mt-5 pb-2">
        © 2024 Intelligence. All rights reserved. Design by
        <a href="https://chordztechnologies.com/" target="_blank"
          >Chordz Technologies</a
        >
      </p>
      <!-- //copyright -->
    </div>
  </div>
</footer>
<!-- //footer block -->
