.footer-29 {
  background-color: #535353;
}
.footer-title-29 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #f5f0f0;
}
.footer-list-29 ul {
  list-style: none;
  padding: 0;
}
.footer-list-29 ul li {
  margin-bottom: 0.5rem;
}
.footer-list-29 ul li a {
  text-decoration: none;
  color: #f5f0f0;
}
.footer-list-29 ul li a:hover {
  text-decoration: underline;
}
.copy-footer-29 a {
  text-decoration: none;
  color: #007bff;
}
.copy-footer-29 a:hover {
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .footer-list-29 {
    text-align: center;
  }
  .footer-list-29.mt-md-0 {
    margin-top: 2rem !important;
  }
  .footer-list-29 img {
    margin: 0 auto;
  }
}
