<mat-toolbar color="white">
    <div>
        <img src="./assets/logo.png" alt="Logo" class="logo">
    </div>

    <div class="center-content">
        <div class="search-container">
            <input matInput placeholder="Search" class="search-input">
            <button mat-icon-button class="search-icon">
                <mat-icon><b>search</b></mat-icon>
            </button>
        </div>
    </div>

    <div class="icons">
        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>person</mat-icon>
        </button>
    </div>
</mat-toolbar>