<ngb-carousel [showNavigationIndicators]="false" [pauseOnHover]="false" [pauseOnFocus]="false">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="./assets/carousal/event1.jpg" alt="Random first slide" />
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="./assets/carousal/event2.jpg" alt="Random second slide" />
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="./assets/carousal/event3.jpg" alt="Random third slide" />
        </div>
    </ng-template>
</ngb-carousel>