<!-- about banner -->
<section class="w3l-about-breadcrumb text-center">
  <div class="breadcrumb-bg breadcrumb-bg-about py-5">
    <div class="container py-lg-5 py-md-4">
      <div class="banner-info-grid px-md-5">
        <h2 class="w3l-title-breadcrumb mb-3">Contact Us</h2>
        <p class="inner-page-para px-lg-5">
          Home decor shops often cater to various styles and preferences,
          ranging from contemporary and modern designs to traditional and
          vintage aesthetics.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- //about banner -->

<!-- contact -->
<section class="w3l-contacts-12">
  <div class="contact-top pt-5">
    <div class="container py-lg-4">
      <div class="d-grid cont-main-top mt-lg-5 mt-4">
        <!-- contact form -->
        <div class="contacts12-main pe-lg-5 category-img">
          <img
            src="../../../assets/images/contact2.webp"
            alt=""
            class="img-fluid"
          />
        </div>
        <!-- //contact form -->
        <!-- contact address -->
        <div class="contact">
          <div class="cont-subs">
            <div class="cont-add">
              <h4>Shop Location:</h4>
              <p class="contact-text-sub">
                Chaudhari Matha, Pune Solapur Road, Near Shri Krishna Furniture
                Mall, Uruli Kanchan, 412202
              </p>
            </div>
            <!-- <div class="cont-add">
              <h4>Email Address:</h4>
              <a href="mailto:info@example.com">
                <p class="contact-text-sub">info@example.com</p>
              </a>
            </div> -->
            <div class="cont-add">
              <h4>Phone Number:</h4>
              <a href="tel:+919021601395"
                ><p class="contact-text-sub">+919021601395</p>
              </a>
            </div>
            <div class="social-icons-con">
              <h4 class="mb-3">Connect with us:</h4>
              <a href="#facebook"
                ><span class="fab fa-facebook-square" aria-hidden="true"></span
              ></a>
              <a href="#twitter"
                ><span class="fab fa-twitter-square" aria-hidden="true"></span
              ></a>
              <a href="#instagram"
                ><span class="fab fa-instagram" aria-hidden="true"></span
              ></a>
              <a href="#linkedin"
                ><span class="fab fa-linkedin-in" aria-hidden="true"></span
              ></a>
            </div>
          </div>
        </div>
        <!-- //contact address -->
      </div>
    </div>
    <!-- map -->
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d15135.265965530609!2d74.11853065087743!3d18.491969671534054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d18.4947157!2d74.1357292!4m5!1s0x3bc2e7f4039dcd7f%3A0xb7cf03a7f06484d9!2shira%20home%20decor%20Chaudhary%20Matha%2C%20Pune%20Solapur%20Road%2C%20Near%20Shri%20Krishna%20Furniture%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20Mall%2C%20Uruli%C2%A0Kanchan%2C%C2%A0412202!3m2!1d18.4875015!2d74.1216987!5e0!3m2!1sen!2sin!4v1710325072836!5m2!1sen!2sin"
        width="800"
        height="600"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <!-- //map -->
  </div>
</section>
<!-- //contact -->
