<section>
  <div class="container py-5">
    <!-- FOR DEMO PURPOSE -->
    <!-- <header class="text-center mb-5 text-white">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <h1>User Pricing Table</h1>

                </div>
            </div>
        </header> -->
    <!-- END -->

    <div class="row text-center align-items-end justify-content-center">
      <!-- Pricing Table-->
      <div class="col-lg-6s pt-5">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">Bank Details</h1>
          <h2 class="h1 font-weight-bold">
            Cash on delivery available<span
              class="text-small font-weight-normal ml-2"
            ></span>
          </h2>

          <div class="custom-separator my-4 mx-auto bg-primary"></div>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th
                  scope="row"
                  class="text-center align-items-end justify-content-center"
                >
                  QR Code
                </th>
                <td>
                  <img
                    src="./assets/QR-Code.jpeg"
                    height="200px"
                    width="200px"
                  />
                </td>
              </tr>
              <tr>
                <th scope="row">Bank IFSC Code</th>
                <td>HDFCI0008</td>
              </tr>
              <tr>
                <th scope="row">Bank Branch Name</th>
                <td>HDFC Bank Uruli Kanchan</td>
              </tr>
              <tr>
                <th scope="row">Bank Account Number</th>
                <td>10223541697841</td>
              </tr>
            </tbody>
          </table>
          <span> After Payment Done Send Screenshot Here &nbsp;&nbsp;</span>
          <a
            href="https://api.whatsapp.com/send?phone=917517311326&text=Hello, I have purchase your plan and sending screenshot here."
            target="_blank"
            class="btn btn-primary btn-block p-2 shadow rounded-pill"
            ><i class="fa-brands fa-whatsapp"></i>&nbsp;WhatsApp</a
          >
          <span
            >Terms & Conditions <a routerLink="">Terms & Conditions</a> Privacy
            & Policy <a routerLink="">Privacy & Policy</a></span
          >
        </div>
      </div>
      <!-- END -->
    </div>
  </div>
  <div class="text-center my-2">
    <button class="btn btn-danger" routerLink="/all_products">Cancle</button>
  </div>
</section>
