<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-12 col-xl-11">
      <div class="mb-3">
        <div class="card shadow mb-2 bg-white" style="border-radius: 15px">
          <div class="card-body p-1 d-md-flex">
            <div class="ms-md-5 my-2 d-flex flex-column text-center pe-5 px-5">
              <img
                src="../../../assets/artists/Ellipse 2.png"
                alt="Generic placeholder image"
                class="img-fluid my-4 mb-1 rounded-circle mx-auto"
                style="width: 150px; z-index: 1"
              />
              <button mat-button class="text-center">
                <span>501 </span>
                <i class="fa-regular fa-thumbs-up"></i>
              </button>
            </div>
            <div class="mx-md-5 mt-4 text-start px-5 text-center text-md-start">
              <h2 class="mb-3">Akshay Bansode</h2>
              <h3>Singer</h3>
              <h3>UK, Pune</h3>
              <h3>Experience: 5+</h3>
            </div>
            <div
              class="ms-md-5 mt-4 d-flex flex-column align-items-center text-md-center"
            >
              <button mat-button class="fs-4">
                <i class="fa-regular fa-heart"></i>
              </button>
              <div>
                <a
                  class="btn btn-sm rounded-circle bg-primary text-white me-3"
                  href=""
                  target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a
                  class="btn btn-sm rounded-circle text-white me-3"
                  style="
                    background: linear-gradient(
                      45deg,
                      #405de6,
                      #5851db,
                      #833ab4,
                      #c13584,
                      #e1306c,
                      #fd1d1d
                    );
                  "
                  href=""
                  target="_blank"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a
                  class="btn btn-sm rounded-circle text-white bg-primary"
                  href=""
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </div>
              <p>
                <a
                  href="https://wa.me/"
                  target="_blank"
                  class="btn border border-secondary py-2 px-4 mt-2"
                  style="border-radius: 1rem"
                  ><img
                    src="../../../assets/icons/whatsapp.png"
                    alt=""
                    style="height: 30px"
                  />
                  Book now</a
                >
              </p>
              <p class="fs-5 mt-3">
                <i class="fa-solid fa-globe"></i
                ><a
                  href="https://www.website.com/"
                  target="_blank"
                  class="text-decoration-none py-3 px-2 mt-3"
                  >https://www.website.com/</a
                >
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ms-md-5 ms-3 my-3 text-center pe-5 mt-5">
              <h1 class="fw-bold" style="width: 150px; z-index: 1">Gallery</h1>
            </div>
          </div>
          <div class="card-body p-5 d-md-flex">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="h-100 rounded-3">
                  <img
                    src="../../../assets/artists/group12 1.png"
                    class="card-img-top"
                    alt="Hollywood Sign on The Hill"
                  />
                </div>
              </div>
              <div class="col">
                <div class=" h-100">
                  <img
                    src="../../../assets/artists/group36 1.png"
                    class="card-img-top"
                    alt="Palm Springs Road"
                  />
                </div>
              </div>
              <div class="col">
                <div class=" h-100">
                  <img
                    src="../../../assets/artists/group32 1.png"
                    class="card-img-top"
                    alt="Los Angeles Skyscrapers"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="card-body p-1 d-md-flex">
            <div class="ms-md-5 my-3 text-center pe-5">
              <h1 class="fw-bold" style="width: 150px; z-index: 1">
                Specialty
              </h1>
            </div>
            <div class="mx-md-5 mt-4 fs-5 px-5">
              <ol>
                <li class="mb-3">Singer</li>
                <li class="mb-3">Guitarist</li>
                <li class="mb-3">Drummer</li>
                <li class="mb-3">Public Engagement</li>
              </ol>
            </div>
          </div>
          <div class="card-body p-1 d-md-flex ">
            <div class="ms-md-5 ms-3 my-3 text-center pe-5">
              <h1 class="fw-bold" style="width: 150px; z-index: 1">
                Description
              </h1>
            </div>
            <div class="mx-md-5 mt-3 px-5">
              <h3>
                Hi, This is Akshay your Guitar Instructor. Welcome to the Beats
                Academy. I have been playing guitar since 10 years. Beats
                academy has been working since last 8 years and till now more
                than 700 people have learned guitar successfully. I would like
                to say that some of these members are from out of India. We
                created 3 rock bands through Beats & more than 1000 live
                performances have been done so far. I'm an IT engineer by
                profession and Guitarist by Passion. Through this academy I want
                to say that you can also cultivate your hobby while maintaining
                your profession & Guitar is the best instrument for that and you
                can play all kinds of songs with deep emotions. We welcome you
                all to our academy.
              </h3>
            </div>
          </div>
          <div class="card-body p-1 d-md-flex mb-5">
            <div class="ms-md-5 ms-4 my-3 text-center pe-5">
              <h1 class="fw-bold" style="width: 150px; z-index: 1">
                Requirements
              </h1>
            </div>
            <div class="mx-md-5 mt-4 fs-5 px-5">
              <ol>
                <li class="mb-3">Sound System</li>
                <li class="mb-3">Meal</li>
                <li class="mb-3">Drummer</li>
                <li class="mb-3">Travel Allowance</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
